{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>{% block title %} {% endblock title %} | </title>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
		{% block extrahead %}{% endblock extrahead %}
	</head>

	<body>
		<header>
			<p class="logo">
				dakshina scott
			</p>
			<nav>
				<ul>
					<li>
						<a href={% url 'post_list' %}>
							blog
						</a>
					</li>
					<li>
						<a href={% url 'post_list' %}>
							projects
						</a>
					</li>
					<li>
						<a href={% url 'about' %}>
							about
						</a>
					</li>
					<li>
						<a href="https://github.com/dangerdak">
							github
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<aside>
		</aside>

		<div class="main-content">
			{% block main_content %}
			{% endblock main_content %}
		</div>

		<div class="contact">
			dakshina{dot}scott{at}gmail{dot}com
		</div>
	
	{% block extrajs %}{% endblock extrajs %}
	</body>
</html>

