{% extends "admin/change_form.html" %}
{% block after_field_sets %}
	<div class="inline-group  image-previews">
		<h2>Image Previews</h2>
		<p>Click an image to paste it's HTML to your cursor position within the text body.</p>
		{% for image in original.image_set.all %}
		<figure class="image-preview">
			<img src="{{ image.image.url }}" height=200><br>
			<figcaption class="image-caption">{{ image.caption }}</figcaption>
			<div style="clear: both;"></div>
		</figure>
		{% endfor %}
	</div>
{% endblock after_field_sets %}
