{% extends "admin/change_form.html" %}
{% block after_field_sets %}
	<div class="inline-group  image-previews">
		<h2>Image Previews</h2>
		<p>Click an image to paste it's HTML to your cursor position within the text body.</p>
		{% for image in original.image_set.all %}
		<div class="image-preview" data-slug="{{ image.slug }}">
			<img src="{{ image.image.url }}" height=200><br>
			<span class="image-path">{{ image.image.url }}</span>
		</div>
		{% endfor %}
	</div>
{% endblock after_field_sets %}
